In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
#from mpl_toolkits.basemap import Basemap
import pandas as pd
from geopandas import GeoDataFrame
from shapely.geometry import Point
import fiona
from matplotlib import collections  as mc

In [2]:
df1 = pd.read_csv('../data/raw/IBS2_First_2_Years/Organism_values.csv')
df2 = pd.read_csv('../data/raw/y3/organism_values.csv')
print(df1.size, df2.size)
org_df = df1.append( df2, ignore_index=True )
print( org_df.size )

(96830, 28540)
125370

In [3]:
org_df.head()

,CRUISE_ID,OPERATION_ID,ACTION_NAME,ORGANISM_ID,ORGANISM_ACTION_ID,SPECIES,SPECIES_GROUP_ID,PARAM,UNITS,VALUE
0,"201,680",3,Record GF Maturity,116,335,Gadus morhua (Atlantic cod),"7,999",Record GF Maturity,NaN,Immature
1,"201,680",3,Record GF Maturity,117,335,Gadus morhua (Atlantic cod),"7,999",Record GF Maturity,NaN,Immature
2,"201,680",3,Record GF Maturity,120,335,Gadus morhua (Atlantic cod),"7,999",Record GF Maturity,NaN,Immature
3,"201,680",3,Record GF Maturity,121,335,Gadus morhua (Atlantic cod),"7,999",Record GF Maturity,NaN,Immature
4,"201,680",3,Record Length cm,116,"1,083",Gadus morhua (Atlantic cod),"7,999",Length,cm,37.5

In [12]:
#print( "CRUISE IDs ", set([i for i in org_df['CRUISE_ID']] ))
#print( "OPERATION IDs ", set([i for i in org_df['OPERATION_ID']] ))
#print( "ACTION NAME ", set([i for i in org_df['ACTION_NAME']] ))
#print( "ORGANISM_ID ", len(set([i for i in org_df['ORGANISM_ID']] )))

print( "ORGANISM_ID ", set([i for i in org_df['VALUE'] if not i.replace('.','').isdigit()  ] ))
#org_df.head()

('ORGANISM_ID ', set(['Resting', 'AB', 'Ripe', 'Developing', 'Unknown', 'F', 'M', 'Spent', 'NE', 'U', 'Immature', 'Ripe & Running']))