In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
#from mpl_toolkits.basemap import Basemap
import pandas as pd
from geopandas import GeoDataFrame
from shapely.geometry import Point
import fiona
from matplotlib import collections  as mc

In [2]:
df1 = pd.read_csv('../data/raw/IBS2_First_2_Years/Organism_values.csv')
df2 = pd.read_csv('../data/raw/y3/organism_values.csv')
print(df1.size, df2.size)
org_df = df1.append( df2, ignore_index=True )
print( org_df.size )

96830 28540
125370

In [3]:
org_df.head()

,CRUISE_ID,OPERATION_ID,ACTION_NAME,ORGANISM_ID,ORGANISM_ACTION_ID,SPECIES,SPECIES_GROUP_ID,PARAM,UNITS,VALUE
0,201680,3,Record GF Maturity,116,335,Gadus morhua (Atlantic cod),7999,Record GF Maturity,NaN,Immature
1,201680,3,Record GF Maturity,117,335,Gadus morhua (Atlantic cod),7999,Record GF Maturity,NaN,Immature
2,201680,3,Record GF Maturity,120,335,Gadus morhua (Atlantic cod),7999,Record GF Maturity,NaN,Immature
3,201680,3,Record GF Maturity,121,335,Gadus morhua (Atlantic cod),7999,Record GF Maturity,NaN,Immature
4,201680,3,Record Length cm,116,1083,Gadus morhua (Atlantic cod),7999,Length,cm,37.5

In [4]:
print( "CRUISE IDs ", set([i for i in org_df['CRUISE_ID']] ))
print( "OPERATION IDs ", set([i for i in org_df['OPERATION_ID']] ))
print( "ACTION NAME ", set([i for i in org_df['ACTION_NAME']] ))
print( "ORGANISM_ID ", len(set([i for i in org_df['ORGANISM_ID']] )))

#org_df.head()

CRUISE IDs  {201680, 201681, 201682, 201683, 201684, 201780, 201781}
OPERATION IDs  {3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 97, 98, 99, 100, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 119, 120, 122, 123, 124, 125, 126, 131, 132, 133, 134, 135, 136, 138, 139, 141, 142, 144, 145, 146, 147, 148, 149, 150, 153, 154, 155, 156, 157, 158, 159, 162, 163, 164, 166, 167, 168, 169, 170, 172, 173, 174, 175, 178, 179, 180, 181, 185, 188, 189, 190, 191, 194, 197, 198, 200, 201, 203, 207, 208, 209, 210, 214, 215, 217, 218, 222, 223, 224, 225, 226, 227, 228, 229, 230}
ACTION NAME  {'Record Length cm', 'Record Sex', 'Record GF Maturity'}
ORGANISM_ID  3655